<div style="display:flex;flex-direction:row;justify-content: space-evenly;">
<img src="tec.png" style="width:320px;height:197px;"/>
<img src="itcolima.svg" style="width:197px"/>
</div>
<div style="display:flex;flex-direction:column;gap:20px;text-align:center"></div>

<h1 align="center">Tecnológico Nacional de México
campus Colima</h1>
<h2 align="center">Maestría en Sistemas
Computacionales</h2><br></br>
<h3 align="center">Servidor Socket Multihilo TCP  y Cliente TCP en Python</h3>
<h3 align="center">Ejercicio Práctico:Servidor Socket Multihilo TCP</h3><br></br>
<h4 align="center">Docente:</h4>
<h4 align="center">D. en C. Patricia Figueroa Millan </h4><br></br>
<h4 align="center">Autor:</h4>
<h4 align="center">Ing. Gilberto Rene Martinez Gutierrez G2146013</h4><br></br>
<h4 align="center"></h4>
<h4 align="center">Villa de Álvarez, Colima, México</h4>
<h4 align="center">05 de noviembre de 2022</h4>

In [62]:
import sqlalchemy
from sqlalchemy import create_engine
#Conectarse a la base de datos
engine=create_engine('sqlite:///orm_example.db',echo=True)

In [63]:
# Creacion de la clase o modelo
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [64]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__='users'
    id=Column(Integer, primary_key=True)
    name=Column(String)
    fullname=Column(String)
    password=Column(String)

    # Define la representacion de string con to_string() suele ser opcional pero te permite imprimir el objeto
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [65]:
# Creacion de la tabla
Base.metadata.create_all(engine)

2022-12-13 15:17:54,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 15:17:54,986 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-12-13 15:17:54,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 15:17:54,989 INFO sqlalchemy.engine.Engine COMMIT

In [66]:
# Crear una sesion
from sqlalchemy.orm import sessionmaker
Session=sessionmaker(bind=engine)
session=Session()

In [67]:
gilberto=User(name='Gilberto', fullname='Gilberto_Martinez ', password='TeAmoPrimiGod')
session.add(gilberto)
print(gilberto.id)

None

In [68]:
user=session.query(User).filter_by(name='gilberto').first()

2022-12-13 15:17:55,118 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 15:17:55,120 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-13 15:17:55,122 INFO sqlalchemy.engine.Engine [generated in 0.00139s] ('Gilberto', 'Gilberto_Martinez ', 'TeAmoPrimiGod')
2022-12-13 15:17:55,125 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2022-12-13 15:17:55,126 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ('gilberto', 1, 0)

In [69]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')])
gilberto.password='1234'
session.commit()

2022-12-13 15:17:55,179 INFO sqlalchemy.engine.Engine UPDATE users SET password=? WHERE users.id = ?
2022-12-13 15:17:55,179 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ('1234', 5)
2022-12-13 15:17:55,181 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-13 15:17:55,181 INFO sqlalchemy.engine.Engine [cached since 0.0611s ago] ('wendy', 'Wendy Williams', 'foobar')
2022-12-13 15:17:55,182 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-13 15:17:55,182 INFO sqlalchemy.engine.Engine [cached since 0.06211s ago] ('mary', 'Mary Contrary', 'xxg527')
2022-12-13 15:17:55,183 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-13 15:17:55,183 INFO sqlalchemy.engine.Engine [cached since 0.06353s ago] ('fred', 'Fred Flinstone', 'blah')
2022-12-13 15:17:55,184 INFO sqlalchemy.engine.Engine COMMIT

In [70]:
# Retroceder transacciones

gilberto.name='Gilberto_Gutierrez'
fake_user=User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)
session.query(User).filter(User.name.in_(['Gilberto_Gutierrez','fakeuser'])).all()

2022-12-13 15:17:55,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 15:17:55,233 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2022-12-13 15:17:55,234 INFO sqlalchemy.engine.Engine [generated in 0.00104s] (5,)
2022-12-13 15:17:55,236 INFO sqlalchemy.engine.Engine UPDATE users SET name=? WHERE users.id = ?
2022-12-13 15:17:55,237 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ('Gilberto_Gutierrez', 5)
2022-12-13 15:17:55,240 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-13 15:17:55,241 INFO sqlalchemy.engine.Engine [cached since 0.1206s ago] ('fakeuser', 'Invalid', '12345')
2022-12-13 15:17:55,243 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2022-12-13 15:17:55,243 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('Gilberto_Gutierrez', 'fakeuser')

[<User(name='Gilberto_Gutierrez', fullname='Gilberto_Martinez ', password='1234')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [71]:
# desacer la transaccion
session.rollback()

2022-12-13 15:17:55,273 INFO sqlalchemy.engine.Engine ROLLBACK

In [72]:
gilberto.name

2022-12-13 15:17:55,307 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 15:17:55,309 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2022-12-13 15:17:55,309 INFO sqlalchemy.engine.Engine [generated in 0.00061s] (5,)

'Gilberto'

In [73]:
# Querying

for instance in session.query(User).order_by(User.id):
    print(instance)

2022-12-13 15:17:55,418 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2022-12-13 15:17:55,419 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ()
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

In [74]:
for name, fullname in session.query(User.name, User.fullname):
    print("Este es el nombre-> ",name, "    Este es el nombre completo ->",fullname)

2022-12-13 15:17:55,462 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2022-12-13 15:17:55,463 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ()
Este es el nombre->  Gilberto     Este es el nombre completo -> Gilberto_Martinez
Este es el nombre->  wendy     Este es el nombre completo -> Wendy Williams
Este es el nombre->  mary     Este es el nombre completo -> Mary Contrary
Este es el nombre->  fred     Este es el nombre completo -> Fred Flinstone
Este es el nombre->  Gilberto     Este es el nombre completo -> Gilberto_Martinez
Este es el nombre->  wendy     Este es el nombre completo -> Wendy Williams
Este es el nombre->  mary     Este es el nombre completo -> Mary Contrary
Este es el nombre->  fred     Este es el nombre completo -> Fred Flinstone

In [75]:
# Operadores de filtrado comun
#equals
for user in session.query(User).filter(User.name=='Gilberto_Gutierrez'):
    print(user)

2022-12-13 15:17:55,526 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
2022-12-13 15:17:55,527 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ('Gilberto_Gutierrez',)

In [76]:
# Not equals
for user in session.query(User).filter(User.name!='Gilberto'):
    print(user)

2022-12-13 15:17:55,575 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name != ?
2022-12-13 15:17:55,576 INFO sqlalchemy.engine.Engine [generated in 0.00091s] ('Gilberto',)
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

In [77]:
#Like
for user in session.query(User).filter(User.name.like('%Gilberto%')):
    print(user)

2022-12-13 15:17:55,645 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ?
2022-12-13 15:17:55,646 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ('%Gilberto%',)
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>

In [78]:
# IN
for user in session.query(User).filter(User.name.in_(['Gilberto','wendy','mary'])):
    print(user)

2022-12-13 15:17:55,691 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?, ?)
2022-12-13 15:17:55,693 INFO sqlalchemy.engine.Engine [cached since 0.4496s ago] ('Gilberto', 'wendy', 'mary')
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>

In [79]:
# not in
for user in session.query(User).filter(~User.name.in_(['Gilberto','wendy','mary'])):
    print(user)

2022-12-13 15:17:55,740 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE (users.name NOT IN (?, ?, ?))
2022-12-13 15:17:55,741 INFO sqlalchemy.engine.Engine [generated in 0.00115s] ('Gilberto', 'wendy', 'mary')
<User(name='fred', fullname='Fred Flinstone', password='blah')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

In [80]:
# and 
for user in session.query(User).filter(User.name=='Gilberto', User.fullname=='Gilberto_Gutierrez'):
    print(user)

2022-12-13 15:17:55,788 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-12-13 15:17:55,790 INFO sqlalchemy.engine.Engine [generated in 0.00145s] ('Gilberto', 'Gilberto_Gutierrez')

In [81]:
#or
from sqlalchemy import or_

for user in session.query(User).filter(or_(User.name=='Gilberto', User.name=='wendy')):
    print(user)

2022-12-13 15:17:55,833 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? OR users.name = ?
2022-12-13 15:17:55,835 INFO sqlalchemy.engine.Engine [generated in 0.00138s] ('Gilberto', 'wendy')
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='Gilberto', fullname='Gilberto_Martinez ', password='1234')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>

In [82]:
#Relaciones

from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Address(Base):
    __tablename__='addresses'
    id=Column(Integer, primary_key=True)
    email_address=Column(String, nullable=False)
    user_id=Column(Integer, ForeignKey('users.id'))

    user=relationship("User", back_populates="addresses")

    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

In [92]:
user.Address=relationship("Address", order_by=Address.id, back_populates="user")
Base.metadata.create_all(engine)

2022-12-13 15:21:11,311 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 15:21:11,312 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-12-13 15:21:11,313 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 15:21:11,314 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2022-12-13 15:21:11,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 15:21:11,315 INFO sqlalchemy.engine.Engine COMMIT

In [93]:
jack=User(name='jack', fullname='Jack Bean', password='gjffdd')
jack.Address=[Address(emai_address='jack@google.com'),Address(email_address='jk25@yahoo.com')]

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'mapped class Address->addresses'. Original exception was: Mapper 'mapped class User->users' has no property 'addresses'

In [ ]:
jack.addresses[1]

In [ ]:
jack.addresses[1].user

In [ ]:
session.add(jack)
session.commit()
jack=session.query(User).filter_by(name='jack').one()
jack.addresses